@{
    ViewData["Title"] = "Home Page";
}

@model Shop.Models.ProductListViewModel

<div class="text-center">
    <h1>Добро пожаловать!</h1>
    <h2>Dr.Apple</h2>
</div>

<form method="get">
    <div>
        <label>Название: </label>
        <input asp-for="Name" />

        <label>Категория: </label>
        <select name="category" asp-items="Model.Categories"></select>

        <input type="submit" value="Показать" />
    </div>
</form>

<div class="row mt-5 mb-2">
    @foreach (var item in Model.Products)
    {
        <div class="col-lg-4">
            <img class="img-thumbnail" src="@item.Image" alt="@item.Name" />
            <h2>@item.Name</h2>
            <p>Цена: @item.Price руб.</p>
            <p>
                <a class="btn btn-warning" href="Home/Info/@item.Id">Подробнее</a>
                @Html.ActionLink("В корзину", "AddOrderItem", new { id = item.Id }, new { @class = "btn btn-primary" })
            </p>
        </div>
    }
</div>